.header {
  background: cadetblue;
  height: 200px;
  width: 100%;
  display: inline-block;
}
.header h1 {
  color: white;
  margin: 0px;
  text-align: center;
  font-size: 50px;
  margin-top: 70px;
}
